services:
  - type: static
    name: medicine-web-app
    buildCommand: npm install && npm run build:web
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: "20"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
